*.xcuserstate  
*.xcscmblueprint
*.xccheckout
xcuserdata  
UserInterfaceState.xcuserstate  
project.xcworkspace/  
xcuserdata/  
UserInterface.xcuserstate
DerivedData/
build/
.DS_Store
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
*.xcworkspace
Carthage/Build